{% extends 'app/base.html' %} {% block content %}
<a href="{% url 'logout' %}" class="btn btn-danger bt-sm btn-block mb-3">Logout</a>

<h1>Profile</h1>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th class="col-3" scope="col">Title</th>
        <th class="col-2" scope="col">End Date</th>
        <th class="col-2" scope="col">Priority</th>
        <th class="col-4" scope="col">Description</th>
        <th class="col-1" scope="col"></th>
        <th class="col-1" scope="col"></th>
        <th class="col-1" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% if data %}
      
      {% for da in data %}
       <tr class="table-primary">
        <td>{{da.title}}</td>
        <td>{{da.date}}</td>
        <td>{{da.priority}}</td>
        <td>{{da.description}}</td>
        <td><a href="{% url 'add' %}">Add</a></td>
        <td><a href="{% url 'update' da.id %}">
            Edit</a></td>
        <td><a href="{% url 'delete' da.id %}">Delete</a></td>
      </tr>
      {% endfor %}
      {% else %}
      <td><a href="{% url 'add' %}" class="btn btn-primary bt-sm btn-block mb-3">Add</a></td>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock content %}
